{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic"
          // Temporarily removed "importSource": "@emotion/react" to test build
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs"],
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ]
    }
  }
}
